[submodule "themes/meghna-hugo"]
path = "themes/meghna-hugo"
url = "https://github.com/themefisher/meghna-hugo.git"
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
